NET "clk"  					LOC = "T9";
NET "reset" 				LOC = "K13";
NET "left"					LOC = "L14";
NET "up"						LOC = "L13";
NET "down"					LOC = "M14";
NET "right"					LOC = "M13";

NET "RGB[0]" 		LOC = "R12";
NET "RGB[1]" 		LOC = "T12";
NET "RGB[2]" 		LOC = "R11";
NET "h_sync" 				LOC = "R9";
NET "v_sync" 				LOC = "T10";


NET "AN[0]"				LOC = "E13";
NET "AN[1]"				LOC = "F14";
NET "AN[2]"				LOC = "G14";
NET "AN[3]"				LOC = "D14";


NET "SEGMENT[0]"			LOC = "E14";
NET "SEGMENT[1]"			LOC = "G13";
NET "SEGMENT[2]"			LOC = "N15";
NET "SEGMENT[3]"			LOC = "P15";
NET "SEGMENT[4]"			LOC = "R16";
NET "SEGMENT[5]"			LOC = "F13";
NET "SEGMENT[6]"			LOC = "N16";
NET "SEGMENT[7]"			LOC = "P16";

